* {
   box-sizing: border-box;
}
.container {
   margin: 0 auto;
   text-align: center;
}
.fa-twitter {
   color: #1d9bf0
}
.fa-mastodon {
   color: #2989ce;
}
.fa-github {
   color: black;
}
.fa-bluesky {
	color: #0085ff;
	font-size: 0.9em;
}

body {
   margin: 0;
   background-color: #bbdcf7;
   display: flex;
   justify-content: center;
   align-items: center;
}
div.window {
	background-color: rgba(239, 239, 239, 0.945);
	min-width: 600px;
	min-height: 400px;
	border-radius: 0.8em;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
div.description {
   padding-left: 40px;
   text-align: left;
}
div#links a:visited {
   color: black
}
div#links {
   text-align: center;
   font-size: 300%;
}
img#myicon {
   margin: 40px;
   border-radius: 0.8em;
}

@media screen and (max-width:820px) {
   div.window {
      min-width: 360px;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      display: block;
      -webkit-text-size-adjust: 100%;
   }
   img#myicon {
      margin: 15px;
   }
   .window img {
      width: 240px;
   }
   div.description {
      padding-left: 10px;
      text-align: left;
   }
}
