<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width,initial-scale=1" />
   <meta name="twitter:card" content="summary" />
   <meta name="description" content="index.html" />
   <meta name="twitter:description" content="index.html" />
   <meta name="og:description" content="index.html" />
   <meta property="og:title" content="Amasaki Shinobu" /> 
   <meta name="twitter:site" content="@amasaki203" />
   <meta name="twitter:image" content="https://github.com/ShinobuAmasaki/ShinobuAmasaki.github.io/blob/main/img/shinobu.png?raw=true" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://shinobuamasaki.github.io/items/index.html" />
   <meta property="og:site_name" content="Amasaki Shinobu's website" />
   <meta property="og:image" itemprop="image" content="https://github.com/ShinobuAmasaki/ShinobuAmasaki.github.io/blob/main/img/shinobu.png?raw=true">

   <title>Amasaki Shinobu</title>
	
   <link rel="icon" href="https://raw.githubusercontent.com/ShinobuAmasaki/ShinobuAmasaki.github.io/main/favicon.ico" type="image/x-icon" >
   
   <link rel="stylesheet" type="text/css" href="style/common.css">
   <!-- <link rel="stylesheet" type="text/css" href="https://shinobuamasaki.github.io/style/highlight.css"> -->
   <link href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="style/top.css">
   <!-- <script src="https://shinobuamasaki.github.io/style/highlight.min.js"></script> -->
   <script>hljs.highlightAll();</script>
</head>
<body>
<main style="background-color: #bbdcf7;" >
   <div class="window">
      <img id="myicon" src="img/shinobu.png" />
      <h1> Amasaki Shinobu's Website</h1>
      <div id="links">
         <a rel="me" href="https://x.com/amasaki203"><i class="big-icon fab fa-twitter"> </i></a>
         <a rel="me" href="https://noc.social/@shinobu"><i class="big-icon fab fa-mastodon"></i></a>
         <a rel="me" href="https://bsky.app/profile/amasaki203.bsky.social"><i class="big-icon fab fa-bluesky"></i></a>
         <a rel="me" href="https://github.com/shinobuamasaki"><i class="big-icon fab fa-github"></i></a>
      </div>
   
      $body$
   </div>
</main>
</body>
</html>
